/* Cart.css */

/* Reset global margin and padding */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Enlever les marges globales du html et body */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Conteneur principal */
.cart-container {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* En-tête avec titre à gauche et séparation */
.cart-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.cart-header h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
    padding-top: 10px;
}

/* Barre séparatrice */
.cart-separator {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #7B0000, rgba(255, 255, 255, 0)); /* Barre noire qui s'effile vers la droite */
    margin-top: 10px;
}

/* Liste des articles du panier */
.cart-list {
    list-style-type: none;
    padding-top: 20px;
}

.cart-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item h3 {
    font-size: 1.8rem;
    font-weight: 500;
}

.cart-item p {
    font-size: 1rem;
    margin: 5px 0;
}

/* Bouton de suppression */
.delete-btn {
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.delete-btn:hover {
    background-color: #e14d4d;
}

/* Bouton Commander */
.order-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    display: block;
    width: 100%;
}

.order-btn:hover {
    background-color: #45a049;
}

/* Message d'erreur */
.error-message {
    color: red;
    margin-top: 20px;
    font-size: 1.2rem;
}

/* Message de succès */
.success-message {
    color: green;
    margin-top: 20px;
    font-size: 1.2rem;
}

/* Responsivité pour les petites tailles d'écran */
@media screen and (max-width: 768px) {
    .cart-list {
        padding: 0;
    }

    .cart-item {
        padding: 15px;
    }

    .cart-header h2 {
        font-size: 2rem;
    }

    .cart-item h3 {
        font-size: 1.6rem;
    }
}
