.navbar {
    position: fixed; /* Fixe la navbar en haut de la page */
    top: 0; /* Positionne la navbar tout en haut */
    left: 0; /* Aligne à gauche */
    width: 100%; /* Prend toute la largeur */
    z-index: 1000; /* S'assure que la navbar soit au-dessus des autres éléments */
    background-color: #740000; /* Couleur de fond de la navbar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre légère pour un effet élégant */
}

/* Ajouter un espacement à votre page pour que le contenu ne soit pas caché par la navbar */
.commandes-container {
    padding-top: 80px; /* Ajustez en fonction de la hauteur de votre navbar */
}